<div class="container">
  <div class="d-flex">
    <div class="text-center align-middle">
        <%= cl_image_tag @user.photo.key, height: 300, width: 300, crop: :fill, :class => "avatar-large" %>
      <div class="col">
        <h1><%= @user.username %></h1>
        <h4>"<%= @user.bio %>"</h4>
      </div>
      <div class="followers">
        <p class="align-middle"><small>  <i class="fas fa-heart align middle p-1">  </i> 223 followers </small></p>
      </div>
    </div>
  </div>
  <div class="lists">
    <ul class="nav nav-pills m-2 p-2 align middle" id="pills-tab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="pills-list-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">My Lists</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="pills-wishlist-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">WishLists</a>
      </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">
      <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
       <% @lists.each do |list| %>
        <div class="d-flex city-card">
          <img src="https://source.unsplash.com/random/?<%=list.city.name%>" alt="" class="align middle">
          <div class="align middle p-2">
          <h3 class="mt-2 ml-2"><%= list.city.name.capitalize %></h3>
          <div class="flex row ml-2 mt-2">
            <% count = list.city.places.count {|place| place.category.name == "Food & Drinks"} %>
              <div class="d-flex mr-2">
                <i class="fas fa-utensils align middle p-2">  </i>
                <p class="align-middle"><small> <%= count %>
                  <% if count > 1%>
                    <%= "tip".pluralize %>
                    <% else %>
                    <%= "tip"%>
                    <% end %>
                </small></p>
              </div>
            <% count = list.city.places.count {|place| place.category.name == "Sights & attractions"} %>
              <div class="d-flex mr-2">
                <i class="fas fa-eye align middle p-2">  </i>
                <p class="align-middle"><small><%= count%>
                  <% if count > 1%>
                    <%= "tip".pluralize %>
                    <% else %>
                    <%= "tip"%>
                    <% end %>
                  </small></p>
              </div>
            <% count = list.city.places.count {|place| place.category.name == "Entertainment"} %>
              <div class="d-flex mr-2">
                <i class="fas fa-child align middle p-2">  </i>
                <p class="align-middle"><small><%= count %>
                  <% if (count > 1 || count == 0) %>
                    <%= "tip".pluralize %>
                    <% else %>
                    <%= "tip"%>
                    <% end %>
                </small></p>
              </div>
          </div>
          </div>
        </div>
      <% end %>
      </div>
      <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">...
      </div>
    </div>
  </div>
</div>

