<div class="container">
  <div class="row">
    <div class="text-center">
      <div class="image">
       <%= image_tag("pretty.jpg", :alt => "user pic", :class => "avatar-large") %>
      </div>
      <div class="col">
        <h1><%= @user.username %></h1>
        <h4>"<%= @user.bio %>"</h4>
      </div>
    </div>
  </div>
  <div class="lists">
    <ul class="nav nav-pills m-4 p-2 align middle" id="pills-tab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="pills-list-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">My Lists</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="pills-wishlist-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">WishLists</a>
      </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">
      <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
       <% @lists.each do |list| %>
        <div class="d-flex city-card">
          <%= image_tag("Madrid.jpg", :alt => "city pic", height: 120, crop: :fill) %>
          <h1><%= list.city.name %></h1>
        </div>
      <% end %>
      </div>
      <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">...
      </div>
    </div>
  </div>
</div>
