<div class="container">
  <!-- Username, photo upload, followers, uptips -->
  <div class="d-flex flex-column">
    <div class="d-flex">
      <div class="user-photo">
        <!-- upload picture form -->
        <div class="hidden-form" style="
          position: absolute;
          top: -10000px;
        ">
          <%= simple_form_for(@user) do |f| %>
            <%= f.input :photo, as: :file, input_html: {id: "avatar-input"} %>
            <%= f.submit %>
          <% end %>
        </div>
        <!-- user photo comes here! -->
        <% if (current_user == @user && !@user.photo.attached? ) %>
          <p>Upload your pic!<i id="avatar-upload" class="fas fa-upload"></i></p>
        <% elsif @user.photo.attached? %>
          <%= cl_image_tag @user.photo.key, height: 300, width: 300, crop: :fill, :class => "avatar-large", id: "avatar-upload" %>
        <% end %>
      </div>
      <div class="user d-flex flex-column justify-content-center">
        <div class="user-name ml-2">
          <h3><%= @user.username.capitalize %></h3>
        </div>
        <div class="user-numbers d-flex">
            <div class="followers mr-2">
              <%= link_to followers_path(@user) do %>
                <p class=""><small><i class="fas fa-heart align middle"></i><%= pluralize(@user.number_of_followers, 'follower') %></small></p>
              <% end %>
            </div>
            <div class="count-votes ml-2">
              <p><small id="upvoting"><%= pluralize(@upvotes, 'uptip') %></small></p>
            </div>
        </div>
      </div>
    </div>
    <div class="bio">
      <% if current_user != @user %>
        <h5 class="text-center"><%= @user.bio %></h5>
      <% end %>
    </div>
    <div class="wrapper">
      <% if (current_user == @user) %>
        <div class="bio-form" style="
          border: none;
        ">
          <%= simple_form_for(@user) do |f| %>
          <%= f.input :bio, :input_html =>{:class => "input no-bs-validation"}, label: false %>
          <%= f.submit "Update Bio"%>
        </div>
      <% end %>
      <% else %>
        <% if user_signed_in? && current_user.following?(@user) %>
          <%= link_to follow_path(@user), method: :delete do %>
            <p class="align-middle pink"><small><i class="fas fa-users align middle p-1"></i> Unfollow <%= @user.username%></small></p>
          <% end %>
          <% else %>
          <%= link_to follow_path(@user), method: :post do %>
            <p class="align-middle pink"><small><i class="fas fa-users align middle p-1"></i> Follow <%= @user.username%></small></p>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
