<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">

  <%# if current_user %>
    <%#= link_to 'TravelTip', profile_path(current_user), class: 'logo' %>
  <%# else %>
    <%= link_to 'TravelTip', root_path, class: 'logo' %>
  <%# end %>

      <% unless params[:controller] == 'pages' && params[:action] == 'home' %>
        <div class="search">
          <%= form_tag(root_path, method: 'get') do %>
            <%= text_field_tag :query,
              params[:query],
              autocomplete: :off,
              class: "form-control search-form", id:"search-bar",
              placeholder: "Something else?"
            %>
          <% end %>
        </div>
      <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if current_user %>
        <li class="nav-item">
          <%= link_to "Profile", profile_path(current_user), class: "nav-link" %>
        </li>
          <!-- CHANGE THIS PATH TO FRIENDS PATH -->
<!--         <li class="nav-item">
          <%#= link_to "Friends", new_user_session_path, class: "nav-link" %>
        </li> -->
        <li class="nav-item">
          <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link" %>
        </li>
<!--         <li class="nav-item dropdown">
          <%#= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%#= link_to "Action", "#", class: "dropdown-item" %>
            <%#= link_to "Another action", "#", class: "dropdown-item" %>
            <%#= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li> -->
      <% else %>
        <li class="nav-item">
          <%= link_to "Sign up", new_user_registration_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Log in", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
