<div class="container">
  <div class="d-flex" style="justify-content: center;">
    <div class="text-center align-middle">
          <% if @user.photo.attached? %>
            <%= cl_image_tag @user.photo.key, height: 300, width: 300, crop: :fill, :class => "avatar-medium", id: "avatar-upload" %>
          <% else %>
          <div class="placeholder-avatar avatar-large"></div>
          <% end %>
          <h2 class="pink"><%= @user.username %></h2>
    </div>
  </div>
  <div class="followers">
    <% @followers.each do |follower| %>
      <%= link_to profile_path(follower), class:"followee-link" do %>
        <div class="followee-card d-flex">
          <div class="followee-photo">
            <% if follower.photo.attached? %>
              <%= cl_image_tag follower.photo.key, :class => "avatar-medium m-auto", id: "friends-avatar" %>
            <% else %>
              <div class="placeholder-avatar avatar-medium"></div>
            <% end %>
          </div>
          <div class="followee-infos d-flex justify-content-center">
            <h5><%= follower.username.capitalize %></h5>
            <div class="followee-lists" style="font-size: 12px; font-weight: 300;">
              <p>
                <%= follower.not_wishlists.count != 0 ? pluralize(follower.not_wishlists.count, "list")  : "" %>
                : <% follower.not_wishlists[0..3].each do |list| %>
                  <%= list.city.name %>
                <% end %>
                <% if follower.not_wishlists.count > 0  %>
                  ...
                <% end %>
              </p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
