<div class='city-banner' style="background-image: url('<%= cl_image_path @place.photo.key, height: 300, width: 400, crop: :fill %>')">
<!-- <div class='city-banner' style="background-image: url('https://media-cdn.tripadvisor.com/media/photo-m/1280/1a/e7/8b/db/praia-do-porto-da-barra.jpg')"> -->

  <img src="https://image.freepik.com/free-vector/street-map-with-pin-routes_23-2147622544.jpg" alt="" class="modal-img" data-toggle="modal" data-target="#myModalPlace">
</div>

<div class="container">
  <div class="d-flex justify-content-end place-add">
    <% if @list.city.nil? %>
      <%= link_to city_place_listplaces_path(@city, @place), method: :post do  %>
        <i class="fas fa-plus"></i>
      <% end %>
    <% else %>
      <%= link_to city_place_listplaces_path(@city, @place), method: :post do %>
        <i class="fas fa-plus"></i>
      <% end %>
    <% end %>
  </div>
  <div class="place-name">
    <div class="place-info">
      <h1><%= @place.name %></h1>
    </div>
    <div class="d-flex justify-content-center add-tip">
      <i class="fas fa-award"></i>
      <p><%= link_to "Add a tip!", new_city_place_tip_path(@place.city, @place) %></p>
    </div>
  </div>

  <!-- <h3 class="tips-place">Tips for <%= @place.name %></h3> -->
    <% @place.tips.group_by(&:user_id).each do |user_id, tips| %>
    <!-- Tip carousel -->
      <div id="tip-carousel" class="carousel slide" data-ride="false"style="height: 100%">
        <div class="carousel-inner" style="height: 100%">
          <% tips.each_with_index do |tip, i|   %>
            <div class="carousel-item <%= i == 0 ? "active" : "" %>">
              <div class="tip-card m-2">
                <!-- Tip pictures carousel -->
                <div class="carousel-container">
                  <div id="carouselExampleControls" class="swiper-container" style="height: 100%;">
                    <div class="swiper-wrapper" style="height: 100%">
                      <% if tip.photos.attached? %>
                        <% tip.photos.each do |photo| %>
                          <div class="swiper-slide tip-photo" style="background-image: url(<%= url_for(photo) %>); height: 100%"></div>
                        <% end %>
                      <% else %>
                        <div class="swiper-slide active tip-photo" style="background-image: url(https://source.unsplash.com/random/?food);"></div>
                      <% end %>
                    </div>
                  </div>
                </div>
                <!-- end of tip pictures carousel -->
                <!-- tip content start -->
                <div class="d-flex" style="width: 60%">
                  <div class="content ml-3 d-flex align-items-start justify-content-between flex-column" style="width: 100%; margin-top: 10px;">
                    <div class="tip-content">
                      <h5>"<%= tip.content %>"</h5>
                    </div>
                  <!-- tip content end -->
                  <!-- vote container -->
                    <div class="upvotes-container d-flex justify-content-between" style="width: 100%">
                      <div class="user-tip">
                        <% if tip.user == current_user %>
                          <p>- <%= link_to "Me", profile_path(tip.user.username) %></p>
                        <% else %>
                          <p>- <%= link_to tip.user.username.capitalize, profile_path(tip.user.username) %></p>
                        <% end %>
                      </div>
                      <div class="">
                        <% if tip.user != current_user %>
                          <div class="vote d-flex" style="margin-right: 7px;">
                            <div class="upvote" style="padding-top: 10px; padding-right: 2px; opacity: 0.6;">
                              <span id="upvotes_<%= dom_id(tip) %>">
                              </span>
                              <%= link_to tip_upvote_path(tip), method: :post, remote: true do %>
                                <i class="fas fa-sort-up"></i>
                              <% end %>
                            </div>
                            <div class="tip-score">
                              <span id="difference_<%= dom_id(tip) %>">
                                <%= tip.upvote - tip.downvote %>
                              </span>
                            </div>
                            <div class="downvote" style="padding-left: 2px; opacity: 0.6;">
                              <%= link_to tip_downvote_path(tip), method: :post, remote: true do %>
                                <i class="fas fa-sort-down"></i>
                              <% end %>
                              <span id="downvotes_<%= dom_id(tip) %>">
                              </span>
                            </div>
                          </div>
                        <% else %>
                      <!-- end vote container -->
                        <% end %>
                      </div>
                    </div>
                </div>

                  </div>
              </div>
            </div>
          <% end %>
        </div>
        <a class="carousel-control-next" href="#tip-carousel" role="button" data-slide="next">
          <!-- <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span> -->
        </a>
      </div>
      <!-- end of tip carousel -->
    <% end %>
</div>

<!-- Map Modal -->
<div id="myModalPlace" class="modal fade" role="dialog">
  <div class="modal-dialog modal-xl" >
    <!-- Modal content-->
    <div class="modal-content" style="border-radius: 4px;">
     <div
          id="placeMap"
          style="
          height: 75vh;
          overflow: visible;
          margin-left: -0%;
          margin-top: -0%;"
          data-markers="<%= @markers.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
          style="border: 1px solid black"
      >
      </div>
      <div class="btn location-box">
        <div class="current-location">
          <i class="fas fa-map-marker-alt" style="margin-right: 4px"></i>
          <%= link_to "Find places in my current location.", "#", id:'current-location'%>
        </div>
      </div>
    </div>
  </div>
</div>
