<div class='city-banner' style="background-image: url(<%="https://images.unsplash.com/photo-1414235077428-338989a2e8c0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60"%>)">
  <img src="https://image.freepik.com/free-vector/street-map-with-pin-routes_23-2147622544.jpg" alt="" class="modal-img" data-toggle="modal" data-target="#myModalPlace">
</div>

<div class="container">
  <div class="d-flex justify-content-end place-add">
    <% if @list.city.nil? %>
      <%= link_to city_place_listplaces_path(@city, @place), method: :post do  %>
        <i class="fas fa-plus"></i>
      <% end %>
    <% else %>
      <%= link_to city_place_listplaces_path(@city, @place), method: :post do %>
        <i class="fas fa-plus"></i>
      <% end %>
    <% end %>
  </div>
  <div class="place-info">
    <h1><%= @place.name %></h1>
  </div>
  <div class="d-flex justify-content-center add-tip">
    <i class="fas fa-award" style="font-size: 20px;"></i>
    <p><%= link_to "Add a tip!", new_city_place_tip_path(@place.city, @place) %></p>
  </div>

  <h3 class="pink">Tips for <%= @place.name %></h3>
  <% @tips.each do |tip| %>
    <div class="tip-card m-2">
      <!-- img src="https://source.unsplash.com/random/?food" alt=""> -->
      <% if tip.photos.attached? %>
        <!-- Carousel -->
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <% counter = 0 %>
              <% tip.photos.each do |photo| %>
                <% if counter == 0 %>
                  <div class="carousel-item active">
                    <%= cl_image_tag tip.photos[0].key %>
                  </div>
                <% else %>
                  <div class="carousel-item">
                    <%= cl_image_tag tip.photos[counter].key %>
                  </div>
                <% end %>
              <% counter += 1 %>
            <% end %>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
          <!-- end of carousel -->
      <% else %>
        <img src="https://source.unsplash.com/random/?food" alt="">
      <% end %>

      <div class="content ml-3 d-flex align-items-start justify-content-center flex-column">
        <div class="tip-content">
          <h5>"<%= tip.content %>"</h5>
        </div>
        <% if tip.user == current_user %>
          <p>- <%= link_to "Me", profile_path(tip.user.username) %></p>
        <% else %>
          <p>- <%= link_to tip.user.username.capitalize, profile_path(tip.user.username) %></p>
        <% end %>
      </div>

      <% if tip.user != current_user %>
        <div class="vote ml-3 d-flex align-items-start justify-content-center flex-column">
          <div class="upvote">
            <span id="upvotes_<%= dom_id(tip) %>">
              <%= pluralize(tip.upvote, 'uptip') %>
            </span>
            <%= link_to tip_upvote_path(tip), method: :post, remote: true do %>
              <i class="fas fa-sort-up"></i>
            <% end %>
          </div>
          <div class="tip-score">
            <span id="difference_<%= dom_id(tip) %>">
              <%= tip.upvote - tip.downvote %>
            </span>
          </div>
          <div class="downvote">
            <%= link_to tip_downvote_path(tip), method: :post, remote: true do %>
              <i class="fas fa-sort-down"></i>
            <% end %>
            <span id="downvotes_<%= dom_id(tip) %>">
              <%= pluralize(tip.downvote, 'downtip') %>
            </span>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

<!-- Map Modal -->
<div id="myModalPlace" class="modal fade" role="dialog">
  <div class="modal-dialog modal-xl" >
    <!-- Modal content-->
    <div class="modal-content" style="border-radius: 4px;">
     <div
          id="placeMap"
          style="
          height: 75vh;
          overflow: visible;
          margin-left: -0%;
          margin-top: -0%;"
          data-markers="<%= @markers.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
          style="border: 1px solid black"
      >
      </div>
      <div class="btn btn-current-location">
        <div class="current-location">
          <i class="fas fa-map-marker-alt" style="margin-right: 4px"></i>
          <%= link_to "Find places in my current location.", "#", id:'current-location'%>
        </div>
      </div>
    </div>
  </div>
</div>






